#appcontainer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    color: green;
    font-family: monospace;
    padding: 10px;
    overflow: hidden;
}
button, input, select, .checkboxlabel {
    font-family: monospace;
    background-color: #cfc;
    border-color: #4a4;
    border-width: 3px;
    color:#050;
    padding: 3px;
    font-size: 16px;
    min-width: 50px;
    
    border-radius: 8px;
    white-space: nowrap;
    
    margin: 2px;
    user-select: none;
} 
#editor {
    position: fixed;
    top: 50px;
    right: 50%;
    bottom: 20px;
    left: 0;
}
#assemblyscripteditor {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 20px;
    left: 50%;
}    
input::placeholder {
    color: #ccc;
}
.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    width: 100%;
    padding-top: 3px;
    padding-left: 20px;
    background-color: green;
    overflow: hidden;
    white-space: nowrap;
    color: white;
}
.toolbar {
    position: fixed;
    background-color: green;
    color: #030;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.CodeMirror {
    height: 100%;
}

.CodeMirror-lint-tooltip {
    z-index: 99999 !important;
}

#errormessages {
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    position: fixed;
    color: red;
    top: 60%;
    padding: 20px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: auto;
}

.spinner {
    display: none;
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #3498db;
    
    width: 15px;
    height: 15px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
  }
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
