name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  detectonly:
    name: Detect use of .only
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Detect use of .only
        run: |
          grep -rq --include '*.spec.js' \.only\( . && echo 'You have .only() in your tests!' && exit 1
          exit 0
  web-test-runner:
    name: Web Test Runner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Web Test Runner
        run: |          
          cd wasmaudioworklet
          yarn install
          yarn playwright install
          yarn createbrowsersourcebundle
          npx playwright install --with-deps
          yarn wtr
  assemblyscriptsynth:
    name: AssemblyScript synth
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Assemblyscript synth
        run: |
          cd wasmaudioworklet
          yarn install
          yarn test-asc-synth:ci
  bundle-pianorolldemo:
    name: Bundle pianorolldemo
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - name: Bundle pianorolldemo
          run: |
            cd wasmaudioworklet
            yarn install
            yarn bundle-pianorolldemo
  bundle-songcompiler:
    name: Bundle songcompiler
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - name: Bundle songcompiler
          run: |
            cd wasmaudioworklet
            yarn install
            yarn bundle-songcompiler
