name: Release
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
        registry-url: 'https://registry.npmjs.org'
    - run: |
        cd wasmaudioworklet
        export VERSION=`npm view wasm-music dist-tags.latest`
        export NEWVERSION=`node -p "require('./package.json').version"`
        echo $VERSION $NEWVERSION
        if [ "$VERSION" != "$NEWVERSION" ]
        then
          echo "publishing new version"
          npm publish
        fi
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
